.search_box{
    position: relative;
    width: 350px;
    /* width:100% */
}



.Sunny{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #EEEEEE;
}

.Moon{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #888888;
}

