.search_box{
    position: relative;
    width: 350px;
}

.search_box input{
    width: 100%;
    height: 40px;
    padding: 0 40px 0 15px;
    box-sizing: border-box;

    border-radius: 5px;
}

.search_icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

