table{
    width:100%;
    /* text-align: center; */
    /* width: 100%; */
    border-collapse: collapse;
}

th,td{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center; */

    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.table_caption{
    margin-left: 10px;
    margin-right: 10px;
    display:flex ;
    flex-direction: row;
    justify-content: space-between; 
}

.write_btn{
    background-color: #98b5db
}

